@media( max-width: 1023px){
	.row1{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: yellow;
	box-sizing: border-box;
}
.first{
	background-color: red;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row2{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: teal;
	box-sizing: border-box;
}
.second{
	background-color: pink;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row3{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: grey;
	box-sizing: border-box;
}
.third{
	background-color: purple;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}

}

@media ( max-width: 991px){
	.row1{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: yellow;
	box-sizing: border-box;
}
.first{
	background-color: red;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row2{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: teal;
	box-sizing: border-box;
}
.second{
	background-color: pink;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row3{
	margin: 40px;
	padding: 10px;
	border: 1px solid black;
	background-color: grey;
	box-sizing: border-box;
}
.third{
	background-color: purple;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}


}
@media(max-width: 767px){
	.row1{
	margin: 40px;
	padding: 10px;
	border: 1px solid teal;
	background-color: yellow;
	box-sizing: border-box;
}
.first{
	background-color: red;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row2{
	margin: 40px;
	padding: 10px;
	border: 1px solid teal;
	background-color: teal;
	box-sizing: border-box;
}
.second{
	background-color: pink;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}
.row3{
	margin: 40px;
	padding: 10px;
	border: 1px solid teal;
	background-color: grey;
	box-sizing: border-box;
}
.third{
	background-color: purple;
	position: relative;
	bottom: 10px;
	left:10px;
	float: right;
	padding: 5px;
}

}